# Configuración del servidor
PORT=3000
WS_PORT=3001
FRONTEND_URL=http://localhost:5173

# Configuración de NATS
NATS_SERVERS=nats://localhost:4222

# Configuración de base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin123
DB_DATABASE=server-ms
